<h1> Show Page </h1>



<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <%# <span class='badge badge-pill badge-info'> %>
      <%#= @product.id %>
    <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @product.name %></p>

    <h1><%= @product.description %></h1>
    </span>
    <%= @product.description %>

     <h1>$<%= @product.price %></h1>

    <%# DISPLAYING IMAGE %>
    <%= image_tag @product.img_url.variant(resize: '500x500') %>

    </span>
      <% if @product.img_url? %>
      <% end %>

  </div>
  
  <%# link_to arguments: name, path, options_object %>

  <%# shopping cart button %>
  <div>
   <%#= link_to(
      "+ add cart",
      controller: "orders",
      action: "add_to_order",
      order_path(@order),
      method: :post,
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "+ add cart",
      product_path(@product),
      class: 'btn btn-info'
    )
    %>
     <%= link_to(
      "- delete from cart",
      product_path(@product),
      method: :delete,
      class: 'btn btn-danger'
    )
    %>
    <%# shopping cart button %>



    <%# edit and delete button %>
    <%= link_to(
      "Edit",
      product_path(@product),
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "Delete",
      product_path(@product),
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'are you sure?' }
    )
    %>
  </div>